@import '../../mixin';

.my-chart {
    @include full-size;
    position: relative;
    // padding-bottom: 60px;
}

#chart{
  /* padding-top: 50px; */
  /* background: #E6E6E6; */
   overflow: auto; 
   @include position-absolute(0px, 0px, 60px, 0px);
   
  //  @include position-absolute(auto, 10px, auto, 0px);
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 80px;				
    font-weight: bold;					
    padding: 8px;				
    font: 0.8em sans-serif;
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 5px;			
    pointer-events: none; 
    
    .nodeName {
      font-weight: bold;
      font-size: 1em;
    }
}

.node:hover {
  cursor: pointer;
  stroke: rgba(255,255,255,0.9);
  stroke-width:5px;
}

rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;   
}

circle.border {
  stroke: #E6E6E6;
  stroke-width:2px;  
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}


.chart-title {
  @include font-basic(1.1em, #FFF);
  @include position-absolute(0px, auto, auto, 0px);
  @include pd(10px, 30px, 10px, 30px);
  background: #0288D1;
}