@import '../../mixin';

.node-list {
    @include pd(15px, 20px, 15px, 20px);
    font-size: 0.95em;
}

.node-item {
    @include display-flex;
    // display: flex;
    border-bottom: 1px dashed #D3D3D3;
    height: 40px;
    width: 100%;
    @include pd(0, 8px, 0, 5px);
    &:hover {
        cursor: pointer;
        border-bottom-width: 0;
        @include box-s(0px, 0px, 5px, #888888);
        transform: translateY(2px);
    }
}

.node-name, .node-state, .node-health, .node-job, .node-event, .node-heatmap {
    @include display-flex;
    // display: flex;
    @include mg(0, 3px, 0, 0);
    -webkit-flex: none;
    flex: none;
}

.text-info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.error-node {
    background: #da4e4e !important;
}
.light-color {
    background: #74a4ca !important;
}

.node-name {
    width: 15%;
}
.node-state {
    width: 10%;
}
.node-health {
    width: 10%;
}
// .node-job {
//     width: 15%;
// }
.node-heatmap{
    width: 30%;
}
.node-event { 
    // width: 100px;
    width: 35%;
}


i{
    @include pd(0, 3px, 0, 0);
}

.online-node {
    color: $them-color;
}

.heatmap-item {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: $them-color;
    @include box-s(1px, 1px, 5px, #696969);
    margin-right: 8px;
}

.event-text {
    color: #696969;
}