<div class="node-list">
    <div class="node-item" *ngFor="let node of nodes" (click)="showDetail(node.name)">
        <div class="node-name">
            <i class="material-icons">desktop_windows</i>
            <div class="text-info">{{node.name}}</div>
        </div>
        <div class="node-state" [class.online-node]="node.nodeState == 'Online'">
            <i class="material-icons">settings_power</i>
            <div class="text-info"> {{node.nodeState}}</div>
        </div>
        <div class="node-health" [class.online-node]="node.nodeHealth == 'OK'">
            <i class="material-icons">lightbulb_outline</i>
            <div class="text-info"> {{node.nodeHealth}}</div>
        </div>
        <div class="node-heatmap">
            <div class="heatmap-item" [ngStyle]="{'background-color': node.nodeHealth == 'OK' ? colorScale(node.cpuUsage) : errorColorScale(node.cpuUsage)}">

            </div>
            <div> job {{node.jobNum}} is running</div>
        </div>

        <div class="node-event">
            <i class="material-icons event-text">event</i>
            <div class="text-info event-text"> Discover service role on node {{node.name}} - 7/24/2017 11:40:31 AM</div>
        </div>
    </div>
</div>