@import '../../mixin';

.node-item{
    margin-bottom: 15px;
}
.node-item {
    @include display-flex;
    flex-direction: row;
    background-color: rgb(255,255,255);
    @include pd(10px, 10px, 10px, 10px);
    @include mg(5px, 5px, 5px, 5px);

     &:hover {
        cursor: pointer;
        @include box-s(0px, 0px, 5px, #888888);
        transform: translateY(2px);
    }
}

.list-node-name{
    @include font-basic(1.55em, rgba(0, 0, 0, 0.65), 500);
    @include pd(0, 10px, 0, 5px);
}

.node-info {
    @include display-flex;
    width: 100%;
    // text-align: right;

    .info-item-small {
        @include width-height(100px, 100%);
        @include mg(0, 10px, 0, 10px);
        -webkit-flex: none;
        flex: none;
    }

    .info-item-medium {
        @include width-height(200px, 100%);
        @include mg(0, 10px, 0, 10px);
        -webkit-flex: none;
        flex: none;
    }

    .info-item-large {
        @include width-height(350px, 100%);
        @include mg(0, 10px, 0, 10px);
        -webkit-flex: none;
        flex: none;
    }

    .info-item-superLarge {
        @include width-height(500px, 100%);
        @include mg(0, 10px, 0, 10px);
        -webkit-flex: none;
        flex: none;
    }
}

.node-item-icon {
    padding: 0 15px 0 0;
    @include font-basic(40px, $them-color);
    @include width-height(40px, 40px);
}

.node-info-title {
      @include font-basic(0.9em, rgba(0, 0, 0, .52));
      padding-bottom: 2px;
}


.node-detail {
    flex-direction: row;
    @include display-flex;
    width: 100%;
}

.text-icon {
    vertical-align: middle;
}

.small-icon {
    font-size: 1.3em;
    width: 1.3em;
    height:1.3em;
    line-height: 1.3em;
}

.online-node {
     color: #2196f3;
    // color: $them-color;
}


.node-list{
   @include width-height(100%, auto);
   @include position-absolute(10px, 0px, 120px, 0px);
   overflow: auto;
}

.node-state{
    @include font-basic(0.92em, rgba(0, 0, 0, .42));
    @include pd(0,0,0, 20px);
}


.paginator{
    @include position-absolute(auto, 0px, 60px, 0px);
}

.list-item{
    // border-left: 2px solid $them-color;
    font-size: 1.0em;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-usage {
    // width: 20px;
    height: 20px;
    padding-top: 10px;
}

.mat-progress-bar-fill::after {
    background-color: #1E90FF;
}