
<!-- <div class="detail-container"> -->
    <!-- <div class="search-row">
        <md-input-container>
            <input mdInput placeholder="All" value="">
        </md-input-container>
        <button md-raised-button>search</button>
        <button md-raised-button class="selected-btn">Node List</button>
        <button md-raised-button class="non-selected-btn">Heatmap</button>
    </div> -->
<div>
    <div class="node-list">
        <div class="node-item"  *ngFor="let node of nodes">
            <div class="node-item-icon">
                <md-icon md-list-icon color="primary" style="width: 40px; height: 40px; font-size: 35px">
                    devices
                </md-icon>
            </div>
            <div class="node-deatil">
                <div class="node-name">{{node.name}} </div>
                <div class="node-info">
                    <md-icon class="text-icon online-node">settings_power</md-icon> 
                        {{node.state}} 
                        <span class="info-divider">| </span> 
                    <md-icon class="text-icon online-node">lightbulb_outline</md-icon>
                        {{node.health}} 
                        |
                    <md-icon class="text-icon online-node">dashboard</md-icon>  
                        {{node.template}} 
                        |
                    <md-icon class="text-icon online-node">pin_drop</md-icon>
                        {{node.location}} 
                        |
                    <md-icon class="text-icon online-node">group_work</md-icon> 
                        <span *ngFor="let gp of node.group">
                            {{gp.name}}
                        </span>
                </div>
            </div>
        </div>
    </div>
    <md-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
    </md-paginator>
</div>
<!-- </div> -->
