@import '../mixin';

.toolbar {
    @include position-fixed(0,0,auto,0);
    @include pd(0, 30px, 0, 30px);
    background: #0277BD;
    // background: #000000;
    // color: #ffffff;
    @include display-flex;
    @include width-height(100%, 50px);
    @include box-s(0, 1px, 5px, #888888);
}

.logo {
  height: 30px;
  width: auto;
  @include mg(0,10px,0,10px);
}

.product-name {
    @include font-basic(1.2em, white, 500);
}