<div class="my-content">
  <div class="filterbar">
    <div class="filterlist-block">
      <div class="filterlist-title">
        Filter by
      </div>
      <div class="filterlist">
        <filterlist [items]='filterlist' (onGetNodes)='onGetNodes($event)'></filterlist>
      </div>
    </div>
  </div>
  <div class="detail-container">
    <div class="search-row">

      <div class="toggle-btn">
        <div [class.non-selected-btn]="showView !== 'nodelist'" [class.selected-btn]="showView == 'nodelist'" (click)="showNodelist()">Node List</div>
        <div [class.non-selected-btn]="showView !== 'heatmap'" [class.selected-btn]="showView == 'heatmap'" (click)="showHeatmap()">Heatmap</div>
      </div>

    </div>
    <div class="nodes-content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>