<div class="detail-page">

    <div class="node-name">
        <div class="name-icon">
            <div class="detail-icon">
                <md-icon style="width: 40px; height:40px;font-size: 40px">computer</md-icon>
            </div>
            <div class="detail-node-name">{{nodeName}}</div>
        </div>
        <div class="go-back" (click)="goBack()">
            <i class="material-icons back-icon">keyboard_return</i>
        </div>
    </div>
    <div class="detail-block">
        <div class="detail-title">
            History Metrics
        </div>
        <div class="detail-info">
            <div id="node-chart">

            </div>
        </div>
    </div>
    <div class="detail-block">
        <div class="detail-title job-block">
            <div>History Jobs</div>
            <div class="more-link">view more</div>
        </div>
        <div class="job-info" *ngFor="let job of jobs">
            <div class="job-header">
                <div class="detail-icon item">
                    <md-icon>schedule</md-icon>
                </div>
                <div class="job-basic-info">
                    <div class="job-name item">{{job.name}}</div>
                    <div class="job-owner item">{{job.owner}}</div>
                </div>
            </div>
            <div class="job-state item">{{job.state}}</div>
            <div class="job-progress item">
                {{job.progress}}%
                <md-progress-bar [value]="job.progress | number">
                </md-progress-bar>
            </div>
            <div class="info-date item">{{job.date}}</div>
        </div>
    </div>

    <div class="detail-block">
        <div class="detail-title">
            Last Scheduled Event
        </div>
        <div class="detail-info" *ngFor="let key of scheduledEventKeys">
            <div class="info-name item">{{key}}</div>
            <div class="info-detail item">{{scheduledEvent[key]}}</div>
        </div>
    </div>

    <div class="detail-block">
        <div class="detail-title">
            Properties
        </div>
        <div class="detail-info" *ngFor="let key of computeKeys">
            <div class="info-name item">{{key | capitalize}}</div>
            <div class="info-detail item">{{compute[key]}}</div>
        </div>
    </div>


    <div class="detail-block">
        <div class="detail-title">
            Network
        </div>
        <div class="network-title" *ngFor="let item of interface">
            <div class="interface-title">
                <!-- <i class="material-icons">network_cell</i> -->
                <div style="margin-left: 10px">Interface</div>
            </div>
            <div *ngFor="let v4 of item['ipv4']['ipAddress']" class="network-item">
                <div class="ipv4-title"> IPV4</div>
                <div class="network-info-item">
                    <div class="network-info">
                        <div class="network-info-name item">Private IP Address</div>
                        <div class="info-detail item">{{v4["privateIpAddress"]}}</div>
                    </div>
                    <div class="network-info">
                        <div class="network-info-name item">Public IP Address</div>
                        <div class="info-detail item">{{v4["publicIpAddress"]}}</div>
                    </div>
                </div>
            </div>
            <div *ngFor="let v6 of item['ipv6']['ipAddress']" class="network-item">
                <div class="ipv6-title"> IPV6 </div>
                <div class="network-info-item">
                    <div class="network-info">
                        <div class="network-info-name item">Private Ip Address</div>
                        <div class="info-detail item">{{v6["privateIpAddress"]}}</div>
                    </div>
                    <div class="network-info">
                        <div class="network-info-name item">Public IP pAddress</div>
                        <div class="info-detail item">{{v6["publicIpAddress"]}}</div>
                    </div>
                </div>
            </div>
            <div class="network-item">
                <div class="mac-title"> MAC </div>
                <div class="network-info-item">
                    <div class="network-info">
                        <div class="network-info-name item">Mac Address</div>
                        <div class="info-detail item">{{item["macAddress"]}}</div>
                    </div>
                </div>

            </div>

        </div>