@import '../../mixin';

.detail-page{
    overflow: auto;
    padding: 10px 20px;
    @include full-size;
    position: relative;

    .node-name{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        margin: 10px 0px 0px 0px;
        padding-bottom: 10px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.7);
    }

    // #node-chart {
    // overflow: auto; 
    // @include position-absolute(0px, 0px, 60px, 0px);
    // }
}

.name-icon {
    @include display-flex;
}

.back-icon {
    font-size: 1.7em;
    width: 2em;
    color: rgba(0, 0, 0, 0.6);
     &:hover {
         cursor: pointer;
     }
    // color: 
}

.detail-icon {
    color: $them-color;
}

.node-name .detail-node-name {
    padding-left: 20px;
    font-size: 1.4em;
    font-weight: 700;
    color: $them-color;

}

.detail-block{
    padding: 10px;
    border-bottom: 1px dashed rgba(0,0,0,0.7);
}

.item{
    padding: 0 10px;
    // font-size: 0.9em
}

.interface-title {
    @include mg(10px, auto, 5px, 0);
    color: $them-color;
    font-weight: 600;
    @include display-flex;
    i {
        // color: #2196f3;
    }
}

.ipv4-title, .ipv6-title , .mac-title{
    color: $them-color;
    // font-weight: 600;
    width: 5%;
}

.network-item {
    display: flex;
    @include pd(10px, auto, 10px, 15px);
    .network-info-item {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.network-info {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    width: 100%;
    // font-size: 0.9em;

    .network-info-name{
        width: 20%;
        text-align: right;
        color: #888;
    }
}

.detail-title {
    font-size: 18px;
    font-weight: 600;
    color: $them-color;
    border-left: 3px solid $them-color;
    padding: 5px 10px;
}
.detail-info {
    display: flex;
    padding: 5px 0px;
    align-items: center;
    width: 100%;
    // font-size: 0.9em;

    #node-chart {
        // @include position-absolute(0, 0, 0, 0);
        width: 100%;
        height: auto;
        position: relative;
    }
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 80px;				
    font-weight: bold;					
    padding: 8px;				
    font: 0.8em sans-serif;
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 5px;			
    pointer-events: none; 
    
    .nodeName {
      font-weight: bold;
      font-size: 1em;
    }
}

.node:hover {
  cursor: pointer;
  stroke: rgba(255,255,255,0.9);
  stroke-width:5px;
}



.info-name {
    color: #888888;
    width: 25%;
    text-align: right;
}

.info-detail {
    width: 75%;
}

.job-block {
    display: flex;
    justify-content: space-between;
}

.job-header {
   @include display-flex;
}

.more-link {
    color: $them-color;
    font-weight: 400;
}

.more-link:hover {
    cursor: pointer;
}

.job-info {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.job-basic-info .job-name{
    font-size: 1em;
}

.job-basic-info .job-owner {
    font-size: 0.9em;
    color: rgba(0,0,0,0.7);
}

.job-progress {
    text-align: center;
    width: 100px;
}
