<!-- The content below is only a placeholder and can be replaced. -->

<div class="container">
    <toolbar></toolbar>
    <div class= "sidenav-container">
          <!-- <md-sidenav #sidenav mode="side" opened="true">
            <button md-icon-button  class="dehaze-btn" (click)="sidenav.toggle()" >
                <md-icon>dehaze</md-icon>
            </button> 
            <sidenav class="sidenav"></sidenav> 
         </md-sidenav>      -->
    
 
            <div class="sidenav-block">          
                <sidenav class="sidenav"></sidenav>      
          </div>      

        <div class="content">     
            <router-outlet></router-outlet>
        </div>
    </div>
</div>