 <div *ngFor="let item of items" class="subnav">
    <a  class="filter-item" (click) = "getNodes(item.name)" [class.all-active]="selectedName === item.name">
        <button md-icon-button>
            <md-icon>done</md-icon>
        </button> 
     {{ item.name }}      
    </a>  
        <div *ngFor="let detail of item.details" class="filter-detail" [class.one-active]="selectedName === detail.name" >
            <a (click) = "getNodes(detail.name)">   
                <!-- <button md-icon-button>
                    <md-icon></md-icon>
                </button> -->
                {{detail.name}} 
            </a>   
        </div>
    <md-divider></md-divider>
</div>