 <div *ngFor="let item of items" class="subnav">
    <a  class="filter-item" (click) = "getNodes(item.filterKey,'all')" [class.all-active]="selectedName === item.filterKey">
        <button md-icon-button>
            <md-icon>done</md-icon>
        </button> 
     {{ item.filterKey | filterName}}      
    </a>  
        <div *ngFor="let detail of item.filterDetail" class="filter-detail" [class.one-active]="filter === detail" >
            <a (click) = "getNodes(item.filterKey,detail)">   
                {{detail}} 
            </a>   
        </div>
    <md-divider></md-divider>
</div>