@import '../mixin';

.nav-block {
    position: relative;
}

.nav-list{
  @include display-flex;
  color: rgba(0, 0, 0, .7);
  @include pd(10px, 10px, 10px, 10px);
  @include mg(10px, 10px, 10px, 10px);
  outline: none;
   
  &:link {
    @include box-s(0px, 0px, 5px, #888888);
    border: 1px solid #CDC5BF;
    color: $them-color;
  }
  
  &:visited {
    @include box-s(0px, 0px, 5px, #888888);
    border: 1px solid #CDC5BF;
    color: $them-color;
  }

  &:hover {
    cursor: pointer;
    @include box-s(0px, 0px, 5px, #888888);
    transform: translateY(2px);
  }
 
  &.active {
    // @include box-s(0px, 0px, 2px, #888888);
    // border: 1px solid #CDC5BF;
    color: $them-color;
  }
}

.nav-name {
  @include pd(0,0,0,20px);
}

.nav-title {
  @include pd(0, 0, 0, 20px);
  @include font-basic(1.1em, #828282);
  line-height: 1.1em;
}

